@import colors
@import prefixes
@import 'components/triangle'
@import fitter
#article
  p
    position relative
    img
      position absolute
      top 0px
      left -445px
  span.ranking
    display block
    float right
    width 550px
    margin-bottom 1.5em
    margin-top -0.8em
    .park
      border-bottom 3px solid ColorPark
    .forest
      border-bottom 3px solid ColorForest
    b:nth-of-type(2)
      padding-left 0.4em
.ig
  @import basics
.ig
  width 1000px
  position relative
  left -50px
  float left
  margin-bottom 50px
  .graph
    width 45%
    float left
    h2
      margin 0px 0px 15px 0px
      font-size 16px !important
      font-weight 600 !important
    .lines
      position relative
      width 100%
    .line
      height 30px
      position relative
      .bar
        height 23px
        position absolute
        top 3px
        min-width 1px
        opacity 1
        transition opacity 0.2s
      .title
        position absolute
        top 6px
      &.active
        .bar
          opacity 0.7
      &.cz
        background #a
    &:first-child
      margin-right (100% - 2 * @width)
      h2
        text-align right
      .line
        .bar
          right 0px
          border-top-left-radius 2px
          border-bottom-left-radius 2px
          background ColorPark
        .title
          padding-right 8px

    &:last-child
      .line
        .bar
          left 0px
          border-top-right-radius 2px
          border-bottom-right-radius 2px
          background ColorForest
        .title
          padding-left 8px
  svg
    position absolute
    left 100%
    top 15px
    path
      stroke #006837
      stroke-width 0.5
      &.active
        stroke #004529
      fill none

